
.pln{
    padding-left: 0px !important;
}

.prn{
    padding-right: 0px !important;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;    
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.BigImgProduct{
    width:490px;
    height:490px;
}

.smallImgProduct{
    width:60px;
    height:60px;
}
